.listCoins {
  align-items: center;
}
.listCoins select {
  border-radius: 5px;
  height: 40px;
  max-width: 600px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 415px) {
  .listCoins select {
    width: 200px;
    height: 20px;
    font-size: 14px;
  }
}
